html
    {
    min-height: 100%;
    height: 100%;
    }

body
    {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0;
    padding: 0;

    min-height: 100%;
    height: 100%;
    }


#mainCanvas
    {
    flex: 1;
    }


.button
    {
    cursor: pointer;
    text-align: center;
    }


    /* Menu */

#Menu
    {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 100, 0.2);
    }

.Menu-block
    {
    min-width: 200px;
    margin: 20px;
    }


    /* Color Sliders */

#redSlider .ui-slider-range
    {
    background: rgba(255, 0, 0, 0.6);
    }

#redSlider .ui-slider-handle
    {
    background: red;
    }

#greenSlider .ui-slider-range
    {
    background: rgba(0, 255, 0, 0.6);
    }
    
#greenSlider .ui-slider-handle
    {
    background: green;
    }

#blueSlider .ui-slider-range
    {
    background: rgba(0, 0, 255, 0.6);
    }
    
#blueSlider .ui-slider-handle
    {
    background: blue;
    }
    
#alphaSlider .ui-slider-range
    {
    background: rgba(0, 0, 0, 0.6);
    }
    
#alphaSlider .ui-slider-handle
    {
    background: black;
    }