  
#colorContainer
    {
    position: relative;
    }

    
#chooseColor > *
    {
    width: 90%;
    }
    

.backgroundUnselectable 
    {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
  
  
#paintControls
    {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

#clearCanvas, #saveCanvas, #removeCanvas, #thickness, #red, #green, #blue, #alpha
    {
    margin: 10px;
    }
    
    
#clearCanvas, #saveCanvas, #removeCanvas
    {
    cursor: pointer;
    }
    
#redSlider .ui-slider-range
    {
    background: rgba(255, 0, 0, 0.6);
    }
    
    
#redSlider .ui-slider-handle
    {
    background: red;
    }
    
    
#greenSlider .ui-slider-range
    {
    background: rgba(0, 255, 0, 0.6);
    }
    
    
#greenSlider .ui-slider-handle
    {
    background: green;
    }
    

#blueSlider .ui-slider-range
    {
    background: rgba(0, 0, 255, 0.6);
    }
    
    
#blueSlider .ui-slider-handle
    {
    background: blue;
    }
    
#alphaSlider .ui-slider-range
    {
    background: rgba(0, 0, 0, 0.6);
    }
    
#alphaSlider .ui-slider-handle
    {
    background: black;
    }