  
#colorContainer
    {
    position: relative;
    }

    
#chooseColor > *
    {
    width: 90%;
    }
    

.backgroundUnselectable 
    {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
  
  
#paintControls
    {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }


#Paint-undoRedoContainer > *
    {
    float: left;
    width: 40%;
    }
    
#Paint-undoRedoContainer + div  /* target the next div element after the #Paint-undoRedoContainer */
    {
    clear: both;
    }
    
#clearCanvas, #saveCanvas, #removeCanvas, #thickness, #red, #green, #blue, #alpha, #Paint-undoRedoContainer > *
    {
    padding: 10px;
    }
    

    
#clearCanvas, #saveCanvas, #removeCanvas, #Paint-undo, #Paint-redo
    {
    cursor: pointer;
    text-align: center;
    }


#Paint-undo:hover, #Paint-redo:hover, #clearCanvas:hover, #saveCanvas:hover, #removeCanvas:hover
    {
    color: black;
    background-color: white;
    }
    
#redSlider .ui-slider-range
    {
    background: rgba(255, 0, 0, 0.6);
    }
    
    
#redSlider .ui-slider-handle
    {
    background: red;
    }
    
    
#greenSlider .ui-slider-range
    {
    background: rgba(0, 255, 0, 0.6);
    }
    
    
#greenSlider .ui-slider-handle
    {
    background: green;
    }
    

#blueSlider .ui-slider-range
    {
    background: rgba(0, 0, 255, 0.6);
    }
    
    
#blueSlider .ui-slider-handle
    {
    background: blue;
    }
    
#alphaSlider .ui-slider-range
    {
    background: rgba(0, 0, 0, 0.6);
    }
    
#alphaSlider .ui-slider-handle
    {
    background: black;
    }